/output/
/dl/
/ccache/
/toolchains/
/vendor/allwinner-a333/pack-sdk/out/
/vendor/allwinner-a333/pack-sdk/.disclaimer_accpet
/keys/
/oem/a333/rootfs/
/.allwinner-a333-archive.*/
/.auto.deps
/.config.cmd
/.config.old
/..config.tmp
/.config
*.depend
*.o
/*.patch
/*.diff
*.orig
*.rej
*~
*.pyc
/br.log
*.log
