[Unit]
Description=Mount active A333 OEM filesystem
After=local-fs.target systemd-udev-settle.service
Wants=systemd-udev-settle.service

[Service]
Type=oneshot
ExecStart=/usr/sbin/a333-mount-oem start
ExecStop=/usr/sbin/a333-mount-oem stop
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
