[Unit]
Description=Android Debug Bridge daemon
After=systemd-udev-settle.service
Wants=systemd-udev-settle.service
StartLimitIntervalSec=0

[Service]
Type=simple
ExecStartPre=/usr/sbin/a333-usb-gadget prepare
ExecStart=/usr/bin/adbd
ExecStartPost=/usr/sbin/a333-usb-gadget bind
ExecStopPost=/usr/sbin/a333-usb-gadget stop
Restart=always
RestartSec=5
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
