BR2_aarch64=y
BR2_cortex_a53=y
BR2_KERNEL_HEADERS_6_6=y
BR2_TOOLCHAIN_BUILDROOT_GLIBC=y
BR2_TOOLCHAIN_BUILDROOT_CXX=y
BR2_CCACHE=y

BR2_TARGET_GENERIC_HOSTNAME="a333-media"
BR2_TARGET_GENERIC_ROOT_PASSWD="allwinner"
BR2_TARGET_GENERIC_GETTY=y
BR2_TARGET_GENERIC_GETTY_PORT="ttyS0"
BR2_INIT_SYSTEMD=y
BR2_GLOBAL_PATCH_DIR="../configs/boards/a333/global-patches"

BR2_ROOTFS_OVERLAY="../overlays/a333/rootfs ../overlays/components/display/rootfs ../overlays/components/media/rootfs"
BR2_ROOTFS_POST_BUILD_SCRIPT="../configs/boards/a333/helperboard-a333/post-build.sh"
BR2_ROOTFS_POST_IMAGE_SCRIPT="../configs/boards/a333/helperboard-a333/post-image.sh"

BR2_TARGET_ROOTFS_EXT2=y
BR2_TARGET_ROOTFS_EXT2_4=y
BR2_TARGET_ROOTFS_EXT2_SIZE="6G"
BR2_TARGET_ROOTFS_TAR=y

BR2_PACKAGE_E2FSPROGS=y
BR2_PACKAGE_E2FSPROGS_RESIZE2FS=y
BR2_PACKAGE_UTIL_LINUX=y
BR2_PACKAGE_UTIL_LINUX_BINARIES=y
BR2_PACKAGE_GPTFDISK=y
BR2_PACKAGE_GPTFDISK_SGDISK=y

BR2_LINUX_KERNEL=y
BR2_LINUX_KERNEL_CUSTOM_TARBALL=y
BR2_LINUX_KERNEL_CUSTOM_TARBALL_LOCATION="file://$(TOPDIR)/../dl/linux-a333.tar.zst"
BR2_LINUX_KERNEL_PATCH="../configs/boards/a333/patches/linux"
BR2_LINUX_KERNEL_USE_CUSTOM_CONFIG=y
BR2_LINUX_KERNEL_CUSTOM_CONFIG_FILE="../vendor/allwinner-a333/device/a333/configs/default/linux-6.6/dragonboard_defconfig"
BR2_LINUX_KERNEL_CONFIG_FRAGMENT_FILES="../configs/boards/a333/linux-no-btf.fragment"
BR2_LINUX_KERNEL_DTS_SUPPORT=y
BR2_LINUX_KERNEL_CUSTOM_DTS_DIR="../vendor/allwinner-a333/bsp/configs/linux-6.6 ../vendor/allwinner-a333/device/a333/configs/pro/linux-6.6"
BR2_LINUX_KERNEL_IMAGE=y

BR2_TARGET_UBOOT=y
BR2_TARGET_UBOOT_BUILD_SYSTEM_KCONFIG=y
BR2_TARGET_UBOOT_CUSTOM_TARBALL=y
BR2_TARGET_UBOOT_CUSTOM_TARBALL_LOCATION="file://$(TOPDIR)/../dl/u-boot-a333.tar.zst"
BR2_TARGET_UBOOT_USE_DEFCONFIG=y
BR2_TARGET_UBOOT_BOARD_DEFCONFIG="sun65iw1p1_a333"
BR2_TARGET_UBOOT_CONFIG_FRAGMENT_FILES="../configs/boards/a333/helperboard-a333/uboot-ab.config"
BR2_TARGET_UBOOT_DEFAULT_ENV_FILE="../configs/boards/a333/helperboard-a333/env-ab.cfg"
BR2_TARGET_UBOOT_PATCH="../configs/boards/a333/patches"
BR2_TARGET_UBOOT_CUSTOM_MAKEOPTS="CROSS_COMPILE=/workspace/toolchains/gcc-linaro-7.2.1-2017.11-x86_64_arm-linux-gnueabi/bin/arm-linux-gnueabi- DTS_PATH=$(BUILD_DIR)/uboot-custom/arch/arm/dts LICHEE_BOARD_CONFIG_DIR=/workspace/vendor/allwinner-a333/pack-sdk/device/config/chips/a333/configs/pro"
BR2_TARGET_UBOOT_FORMAT_BIN=y

BR2_PACKAGE_RAUC=y
BR2_PACKAGE_RAUC_NETWORK=y
BR2_PACKAGE_RAUC_JSON=y
BR2_PACKAGE_HOST_RAUC=y
BR2_A333_PROFILE_MEDIA=y
BR2_A333_DISPLAY_ORIENTATION_LANDSCAPE_CW=y
BR2_PACKAGE_BLUEZ_ALSA=y
BR2_PACKAGE_MEDIA_PANEL=y
BR2_PACKAGE_BLUEZ_ALSA_RFCOMM=y
BR2_PACKAGE_MPD=y
BR2_PACKAGE_MPD_ALSA=y
BR2_PACKAGE_MPD_CURL=y
BR2_PACKAGE_MPD_FLAC=y
BR2_PACKAGE_MPD_MPG123=y
BR2_PACKAGE_MPD_VORBIS=y
BR2_PACKAGE_MPD_LIBNFS=y
BR2_PACKAGE_MPD_MPC=y
BR2_PACKAGE_PYTHON3=y
BR2_PACKAGE_PYTHON_DBUS_NEXT=y
BR2_PACKAGE_DBUS=y
# BR2_PACKAGE_IFUPDOWN_SCRIPTS is not set
BR2_PACKAGE_NETWORK_MANAGER=y
BR2_PACKAGE_NETWORK_MANAGER_CLI=y
BR2_PACKAGE_WPA_SUPPLICANT=y
BR2_PACKAGE_WPA_SUPPLICANT_NL80211=y
BR2_PACKAGE_WPA_SUPPLICANT_CLI=y
BR2_PACKAGE_WPA_SUPPLICANT_CTRL_IFACE=y
BR2_PACKAGE_WPA_SUPPLICANT_DBUS=y
BR2_PACKAGE_WPA_SUPPLICANT_EAP=y
BR2_PACKAGE_WPA_SUPPLICANT_DBUS_INTROSPECTION=y
BR2_PACKAGE_IW=y
BR2_PACKAGE_I2C_TOOLS=y
BR2_PACKAGE_BLUEZ5_UTILS=y
BR2_PACKAGE_BLUEZ5_UTILS_CLIENT=y
BR2_PACKAGE_BLUEZ5_UTILS_MONITOR=y
BR2_PACKAGE_BLUEZ5_UTILS_TOOLS=y
BR2_PACKAGE_UTIL_LINUX_RFKILL=y
BR2_PACKAGE_ALSA_LIB=y
BR2_PACKAGE_ALSA_UTILS=y
BR2_PACKAGE_ALSA_UTILS_AMIXER=y
BR2_PACKAGE_ALSA_UTILS_APLAY=y
BR2_PACKAGE_USBUTILS=y
BR2_PACKAGE_ANDROID_TOOLS=y
BR2_PACKAGE_ANDROID_TOOLS_ADBD=y
BR2_PACKAGE_HOST_ANDROID_TOOLS=y
BR2_PACKAGE_HOST_ANDROID_TOOLS_ADB=y
BR2_PACKAGE_OPENSSH=y
BR2_PACKAGE_OPENSSH_CLIENT=y
BR2_PACKAGE_OPENSSH_SERVER=y
BR2_PACKAGE_OPENSSH_KEY_UTILS=y
# BR2_PACKAGE_SYSTEMD_NETWORKD is not set
BR2_PACKAGE_SYSTEMD_RESOLVED=y
